@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
    width: 100vw;
    background-color: #654321;
    margin: auto;
    height: 100vh;
    
}

button{
      appearance: none;
      background-color: #2ea44f;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      width: 80%;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
    }
    
button:focus:not(:focus-visible):not(.focus-visible) {
      box-shadow: none;
      outline: none;
    }
    
button:hover {
      background-color: #2c974b;
    }
    
button:focus {
      box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
      outline: none;
    }
    
button:disabled {
      background-color: #94d3a2;
      border-color: rgba(27, 31, 35, .1);
      color: rgba(255, 255, 255, .8);
      cursor: default;
    }
    
button:active {
      background-color: #298e46;
      box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    } 

    h1{
        text-align: center;
        margin-top: 0;
    margin-bottom: 1%;
    }

.grass {
    grid-row: 2;
    content:url("./assets/grass-clipart.png");
    width: 135%;
    height: 135%;
    align-self: end ;
    overflow: visible;
}
.cut-grass{
/* 	 	grid-row: 2;
    content:url("./assets/grass-clipart.png");
    width: 135%; */
			height: 50% !important;
/* 		align-self: end ;
    overflow: visible; */
}
@keyframes growGrass{
    0%{
        height: 50%;
    }
    100%{
        height: 300%;
    } 
    
}
.animate-growth{
    animation-name: growGrass;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
    /* animation-iteration-count: infinite; */
    /* height: 300%;
    transition: height 6s ease-in-out; */
}

.modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
    
	
    /* display: none; */
}

.modal-content{
    overflow: auto;
    background-color: white;
	height: 50vh;
	width: 60vw;
	border-radius: 20px;
	margin: 13% auto;
	box-shadow: 18px 11px 8px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    font-size: 2vw;
    padding: 2%;
    line-height: 170%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-screen{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 15% 70% 15% ;
    width: 100vw;
   

    
    object-fit: cover;
    /* position: absolute; */
    margin: auto;
    /* padding-top: 5%; */
    background-color: rgb(147, 231, 255);
}


#game-screen div{
text-align: center;

/* z-index: -2; */
}

#title{
    grid-column: 2;
    align-self: start;
    margin-bottom: 15%;
    font-family: 'Rye', cursive;
    font-size:3vw;
    overflow: visible;
    white-space: nowrap;
    margin-left: -100%;
    margin-right: -100%;
    background-color: #c77a2d;
    width: 100vw;
    color: antiquewhite;
}

#modal-title{
    font-family: 'Rye', cursive;
    color: #c77a2d;
}

#close{
    width: 10vw;
    background-color: #d16439;
}
#restart{
    width: 10vw;
    background-color: #d16439;
}

#victory-modal{
    display: none;
    text-align: center;
}

#UI-panel{
grid-column: 3;
grid-row: 2;
flex-direction: column;
align-self: end; 
margin-bottom:5%;
margin-top: 2%;
/* display: grid;
grid-template-rows: 1fr 10fr 1fr; */
}

#tool-img{
    object-fit: cover;
    width: 100%;
}

#cut-grass{
    color: black;
}

#cut-button-container{
    /* grid-row: 4; */
    margin-top: 1%;
    
}

#money{
color: black;
}

#money-div{
    background-color: #298e46  !important;
    color: white;
    /* grid-row: 4; */
}

#tool-upgrade-container{
    grid-row: 4;
}

#upgrade-tool{
    color: black;
    white-space: normal;
    
}

#soil {
    background-color: #654321  !important;
    grid-row: 3;
    grid-column: span 3;
    width: 100vw;
    
}

#gardener {
    grid-row: 2;
    position: relative; 
}

#gardener img{
    object-fit: cover;
    width: 85%;
    display: block;
    align-self: end ;
    position: absolute;
    bottom: 0;
    left: 20%;
    overflow:visible;
    min-height: 67%;
}
#lawn {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90fr 10fr;
}

#timer{
    grid-column:  3;
    align-self: end; 
    white-space: nowrap;
    z-index: 2;
    margin-left: 15% ;
    margin-bottom: 2%;
    position: fixed;
   }

@media only screen and (max-height: 500px) {
    #title{
        display: none;
    }

    #game-screen{
       grid-template-rows: 0% 80% 20%;
        
    }

    #timer{
        margin-left: 14%;
    }
    h1{
        margin-top: 15%;
    }
        
}

@media only screen and (max-height: 395px) {
    #title{
        display: none;
    }

    #game-screen{
        grid-template-rows: 90% 0% 22%;
        width: 83vw;
        
    }
    #cutButton{
        margin-left: -100%;
        margin-right: -90%; 
    }

    #upgrade-tool{
        white-space: normal;
    }
    
    #UI-panel {
        margin-bottom: 4%;
        max-height: 84vh;
        overflow: visible;
    }

    #timer{
        margin-left: 12%;
    }

    h1{
        margin-top: 15%;
    }
    
        
}